.content-body {
    border: thick double #32a1ce;
    border-radius: 2rem;
    background-color: #e9e9e9;
    margin: 2rem;
    padding: 1rem;
    font: 12px system-ui;
}
.navbar-content div {
    display:block;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.suggestions {
    line-height: 2em;
}

/* this creates fluid width columns as space is available */
.forecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* this defines the width of the cards */
    grid-gap: 1rem;
}

.card {
    border: thin double;
    border-radius: 1rem;
    background: white;
    overflow: auto;
    padding: 0.5rem;
}

.group {
    zoom:1; /*For IE 6/7 theoretically*/
}